<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Application Domains
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Application Domains</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

   <!-- 
    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" src="http://placehold.it/1200x300">
        </div>

    </div>
    -->
   
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8">
<!--            <h2 class="page-header">Application Domains</h2> -->

            <p>The activities of this project aim to advance the scientific understanding of distributed software-defined cyberinfrastructures and the ability to run scientific applications using data and tools in different countries. Specifically, the targeted applications are in environmental modeling, disaster management and smart cities, focusing on how these domains impact each other.</p>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Tabs -->


</div>
<!-- /.container -->
