<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Meetings and News
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Meetings and News</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->
<!--
    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" src="http://placehold.it/1200x300">
        </div>

    </div>
-->
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8">
<!--            <h2 class="page-header">Meetings and News</h2> -->

            <p>The kickoff meeting for the CENTRA activities is scheduled to take place in March 2016 in Taiwan.</p>
        </div>
    </div>
</div>
<!-- /.container -->
