<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">IT Research
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">IT Research</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->
<!--
    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" src="http://placehold.it/1200x300">
        </div>

    </div>
-->
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8">
<!--            <h2 class="page-header">IT Research</h2> -->

            <p>The related middleware research seeks solutions for software-defined data sharing, middleware interoperability via software-definition, and coordinated software-definition of distributed IT systems.</p>
        </div>
    </div>
</div>
<!-- /.container -->
